 * {
 box-sizing: border-box;
}

.carousel-item img {
    max-height: 40vh; 
    object-fit: cover;
  }

.nav-item{

    color: white;
}


.btn-theme{
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
  }

  hr{
    color:gray;
    border-top:1px grey;
    margin:1em;
  }
   

.groupedButtons{
    display: flex;
    justify-content: center;
    margin-top:4em;
    align-items: center;
    align-content: center;
    background-color:black;
}


.groupedButtons::before{
  content:"Shop by";
  margin-right: 3em;
  color:white;
}


.shipping{
  display:flex;
  flex-direction: column;
  background-color: lightgrey;
  width: 40px;
  border-radius:1em;;
  padding: 1em;
  margin-left: .5em;
}

.testimonials{
  display:flex;
  flex-direction: column;
  background-color: lightgrey;
  width: 40px;
  border-radius:1em;
  padding: 1em;
  margin-left: 3em;
}

.blognews{
  display:flex;
  flex-direction: column;
  background-color: lightgrey;
  width: 40px;
  border-radius:1em;
  padding: 1em;
  margin-left:auto;
  margin-right:6rem;
}

p{
  margin:auto;
}

.shop{
  order:-1;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.secondary-content{
  background-color:cornsilk;
}

.active-pink-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}

/* .form-inline{
  margin-left: 15em;
} */

.btn-secondary{
  background-color: green;
  color: white;
  width:auto;
}




.site-image {
  max-height: 40vh;
 object-fit:cover;
 width:100%;
}

 .site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .site-content {
    flex: 1;
  } 


 .img{

  margin: 0 auto;
 }

 .inner-item{
   text-align: center;
 }

 .display-4{
  color:green;
 }

 #price {      
  background: #00f2b5;
  text-align: right;
  border-radius: 10px 10px 10px 10px;
  color: white;
  padding: 2em 3em;
  font-size: 2em;
  position: relative;
  left:5px;
  bottom:5px;
  float:left;      
}

 /* #backgroundProducts{
   background:no-repeat center center fixed;
   margin:-10px;
 } */
 
 #backgroundProducts{
background-image:url("Poze_site/sandale.jpg");
background-size: cover;
background-position: center; 
background-repeat: no-repeat;
height: 15em;
margin-bottom:0px;
min-width: 100%;}

.card-title{
  text-align: center;
}



 .footer{
   background-color:gray;
 }

 .offers{
   background-color:black;
 }

 .dropdwn{
   margin-bottom:10px;
   margin-top:10px;
 }

 .last{
   margin-bottom:4em;
 }

 /* .third-content{
   background-color:
 } */



 /* .dropdown{
   display: inline-block;
 } */

 .clearfix::after {
  content: "";
  clear: both;
  display: table;
}




